<template>
  <form class="m-4">

    <div class="field">
      <label class="label">E-mail</label>
      <div class="control">
        <input class="input" type="text" placeholder="e-mail">
      </div>
    </div>

    <div class="field">
      <label class="label">Senha</label>
      <div class="control">
        <input class="input" type="password" placeholder="senha">
      </div>
    </div>

    <input type="submit" value="+ Adicionar" class="button is-info is-fullwidth mt-4 mb-4" />
  </form>
</template>

<script>
export default {
}
</script>

<style>
</style>