<template>
  <table class="table is-striped is-hoverable is-fullwidth m-4">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>admin@gmail.com</th>
      <td>
          <button class="button is-small is-light">
              <i class="fas fa-pen"></i>
          </button>
      </td>
    </tr>
  </tbody>
</table>
</template>

<script>
export default {
}
</script>

<style>
</style>